.celulas-vazias{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-cv{
    background-color: rgb(247, 247, 247);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.30);
    width: 70%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-single-cv{
    border: solid 2px rgb(202, 202, 202);
    border-style: dashed;
    border-radius: 8px;
    width: 50%;
    height: 20vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.submit-button-cv button{
    background-color: var(--cor-primaria);
    border: none;
    padding: 10px;
    border-radius: 8px;
    color: white;
    margin: 4px;
}

.submit-button-cv button:hover{
    background-color: var(--cor-primaria2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.30);
    cursor: pointer;
    transition: 0.2s;
}

.submit-button-cv{
    padding: 10px;
}

.input-single-cv input{
    padding: 5px;
}

.preview-container-cv {
  width: 95%;
  max-width: 100%;
  height: 400px;        /* pode ajustar como quiser */
  overflow-x: auto;     /* scroll horizontal */
  overflow-y: auto;     /* scroll vertical */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  background: #fff;
    font-size: 0.8rem; /* menor */

    margin-top: 10px;
}

.preview-container-cv table td,
.preview-container-cv table th {
  padding: 10px 12px;   /* aumenta espaço interno */
}