.comparador{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.form1-comp{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100vh;
    background-color: rgb(247, 247, 247);
    border-radius: 8px;
    
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.30);
}

.form-inputs-comp{
    display: flex;
    height: 100%;
    gap: 10px
}

.input-single-comp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 2px rgb(202, 202, 202);
    border-style: dashed;
    border-radius: 8px;
}

.cloud-icon{
    color: rgb(230, 230, 230);
    height: 90%;
    display: flex;
    align-items: center;
}

.input-single-comp input{
    padding:5px;

}

.submit-button-comp{
    padding: 10px;
    
}

.submit-button-comp button{
    padding: 10px;
    border-radius: 8px;
    background-color: var(--cor-primaria);
    color: white;
    border: none;
}

.submit-button-comp button:hover{
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.30);
    background-color: var(--cor-primaria2);
    transition: 0.3s;
}

#obs{
    font-size: smaller;
}

.voltar-btn{
    
 margin-right: auto;
 padding: 10px;

}

