.comparador{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form1-comp{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    min-height: 100vh;
    background-color: rgb(247, 247, 247);
    border-radius: 8px;
    
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.30);
}

.form-inputs-comp{
    display: flex;
    height: 100%;
    gap: 10px
}

.input-single-comp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 2px rgb(202, 202, 202);
    border-style: dashed;
    border-radius: 8px;
    min-height: 40vh;
}

.cloud-icon{
    color: rgb(230, 230, 230);
    height: 90%;
    display: flex;
    align-items: center;
}

.input-single-comp input{
    padding:5px;

}

.submit-button-comp{
    padding: 10px;
    
}

.submit-button-comp button{
    padding: 10px;
    border-radius: 8px;
    background-color: var(--cor-primaria);
    color: white;
    border: none;
    margin: 5px;
}

.submit-button-comp button:hover{
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.30);
    background-color: var(--cor-primaria2);
    transition: 0.3s;
}

#obs{
    font-size: smaller;
}

.voltar-btn{
    
 margin-right: auto;
 padding: 10px;

}

.instructions-comp{
    padding-bottom: 15px;
}

.preview-comp h3{
    margin-left: 30px
}

.preview-side-by-side {
  display: flex;
  gap: 20px; /* Espaço entre as tabelas */
  margin-top: 20px;
  align-items: flex-start; /* Alinha pelo topo (caso uma tabela seja maior que a outra) */
  display: flex;
  justify-content: center;
}

/* Garante que cada tabela ocupe 50% do espaço */
.preview-side-by-side > div {
  flex: 0 0 45%;
  min-width: 45%; /* Evita que a tabela estoure o layout */
  display: flex;
  justify-content: center;
  font-size: x-small;
}


