.back-btn {

    display: flex;
    
    cursor: pointer;
    background-color: rgb(243, 243, 243);
    
    
    
    height: 2%;
}

.back-btn a {
    text-decoration: none;
    color: inherit;
}

.back-btn h3{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.back-btn label:hover {
    cursor: pointer;
}
